<div class="container">
    <% @cart.cart_items.each do |item| %>
      <div class="row">
        <div class="card"> 
          <p>item.product_sku</p>
        </div>
      </div>
    <% end %>
</div>
