// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$black: #000000;
$grey: #E6E6E6;

$primary-color-light: #669933;
$primary-color-dark: #336633;
$primary-color-mid: #408e40;

$secondary-color-light: #202320;
$secondary-color-dark: #000500;
