// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$black: #000000;
$grey: #E6E6E6;

$primary-color-light: #8CEBB2;
$primary-color-dark: #2B3E14;
$secondary-color-light: #468C46;
$secondary-color-dark: #5ABBE8;
