<div class="footer">
	<section class="footer-company-details">
		<p>T: ###-####-#####</p>
		<p>E: contact@companyname.com</p>
		<p>A: 123 Street Name, London UK 3B2 4H2</p>
	</section>
  <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
	<section class="footer-legal">
		<p>Company Name All Right Reserved<i class="far fa-copyright"></i></p>
		<%= link_to "Privacy Policy", "#" %>
		<%= link_to "Terms and Conditions", "#" %>
	</section>
</div>

