<div class="footer">
  <div class="content">
    <div class="graphics">
      <a href="#"><i class="fa fa-github fa-2x"></i></a>
      <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
    </div>
    <div class="f-line">
      <div class="footer-line"></div>
    </div>
    <div class="formal">
      <ul class="links">
        <li><%= link_to "Privacy Policy", pages_privacy_policy_path, class: "navbar-hd-item navbar-hd-link" %></li>        
        <li><p> | </p></li>
        <li><%= link_to "Terms and Conditions", pages_privacy_policy_path, class: "navbar-hd-item navbar-hd-link" %></li>
      </ul>
      <div class="copyright">
        <p>Flow CBD All Rights Reserved <i class="fa fa-copyright"></i></p> <!-- far for FontA 5-->
      </div>
    </div>
  </div>
</div>

