<div class="container">
  <% @cart_items.in_groups_of(3) do |cart_items| %>
    <% cart_items.each do |order| %>
      <div class="row">
        <div class="card"> 
          <p>order.product_sku</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
