<div class="container">
  <h1>Education</h1>
  <div class="accordion" id="education">
    <div class="card-accordion">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is CBD?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse in" aria-labelledby="headingOne" data-parent="#education">
        <div class="card-body">
         <p>CBD is a compound found in the cannabis/hemp plant and is extracted using specific extraction methods such as CO2. CBD comes from the cannabinoid family and offers anti-inflammatory, neuroprotectant and analgesic benefits. Unlike THC, it does not produce any psychoactive effects.
         </p>
       </div>
     </div>
   </div>
   <div class="card-accordion">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Is CBD Legal ?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#education">
      <div class="card-body">
        <p>CBD is legal in the UK and has been since 2016.
        </p>
      </div>
    </div>
  </div>
  <div class="card-accordion">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How to Take CBD?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#education">
      <div class="card-body">
        <p>CBD can be taken through numerous forms. Today, there is a wide range of CBD products including; CBD oil, tinctures, edibles, syrups and capsules. You can also vape specific CBD oils. There is a 98% absorption rate with CBD oil and tinctures because the CBD gets absorbed directly into the bloodstream.
        </p>
      </div>
    </div>
  </div>
  <div class="card-accordion">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What can CBD oil help with?
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#education">
      <div class="card-body">
        <p>There are numerous case studies and testimonials from patients who have claimed that it has helped them with the following conditions:</p>

        <ul>
          <li>Anxiety</li>  
          <li>Arthritis</li>  
          <li>Alzheimer’s disease</li>  
          <li>Bipolar disorder</li> 
          <li>Cancer</li> 
          <li>Cardiovascular disorders</li> 
          <li>Chronic pain</li> 
          <li>Depression</li> 
          <li>Epilepsy (seizures)</li>  
          <li>Inflammation</li> 
          <li>Insomnia</li> 
          <li>Nausea (emesis)</li>  
          <li>Obesity</li>  
          <li>Parkinson’s Disease</li>  
          <li>Post-Traumatic Stress Disorder (PTSD)</li>  
          <li>Schizophrenia</li>  
          <li>Tourette’s syndrome</li>  
        </ul>
      </div>
    </div>
  </div>
  <div class="card-accordion">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          What is CO2 Extraction?
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#education">
      <div class="card-body">
        <p>
          CO2 extraction is an extraction method that uses pressurized co2 to extract phytochemicals such as CBD.
        </p>
        <p>
          CO2 at particular pressures and temperatures acts like a solvent, without the threats of really being one. It is the most advanced extraction method today, and only a few Hemp and CBD companies have mastered the technique. 
        </p>
        <p>
          A perfect full-spectrum CO2 extract consists of a subcritical extraction, separating the drawn out oil, and there after drawing out the very same plant material using supercritical pressure. After, we homogenize both oil extracts into one. This process is known as CO2 Total.
        </p>
      </div>
    </div>
  </div>
  <div class="card-accordion">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Will CBD oil get you high?
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#education">
      <div class="card-body">
        <p>
          One of the most crucially important qualities of CBD is its lack of psycho-activity. To put it simply this means that cannabidiol won’t get you high. Unlike THC which is known for producing euphoric sensations, Cannabidiol is inert.
        </p>
        <p>
          So when taken on its own, users experience none of the sensations of being stoned. And this is the single most important property of the cannabinoid from the medical—and legal—perspective.
        </p>
      </div>
    </div>
  </div>
  <div class="card-accordion">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Can You Overdose On CBD?
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#education">
      <div class="card-body">
        <p>
          It’s also important to note that it’s nearly impossible to overdose on CBD if you use it sensibly. The only repercussion one CBD user felt when he took a high dose was a sense of drowsiness. However, the tendency to want to sleep may not even be considered negative if you suffer from insomnia.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
