<div class="home-page">
	<section class="home-page_first-section">
		<h3>FIRST SECTION</h3>
	</section>
	<section class="home-page_second-section">
		<h3>SECOND SECTION</h3>
	</section>
	<section class="home-page_third-section">
		<h3>THIRD SECTION</h3>
	</section>
</div>