.product-card{
  height: 100%;
  position: relative;
  background-color: white;
  padding: 5px;
  margin-bottom: 40px;
  &h4{
    position: absolute;
  }
  &:hover{
    -webkit-box-shadow: 4px 3px 31px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 4px 3px 31px 2px rgba(0,0,0,0.6);
    box-shadow: 4px 3px 31px 2px rgba(0,0,0,0.6);
  }
}

.image{
  width: 100%;
}

.bar{
  margin-top: 10px;
  border-top: 1px solid black;

  .top-row{
    display: flex;
    justify-content: space-between;
  }
}




