.product-form-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.product-form-group select {
  background-color: $primary-color-light;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  -moz-appearance: none;
   appearance: none;
}

.product-form-group::before,
.product-form-group::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.product-form-group::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.product-form-group::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.product-form-group select[disabled] {
  color: rgba(0,0,0,.3);
}

.product-form-group select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.product-form-group::before {
  background-color: rgba(0,0,0,.15);
}

.product-form-group::after {
  color: rgba(0,0,0,.4);
}
