.form-check-input{
  width: 80px !important;
}

#dropdown{
    background: rgba(0,0,0,0.15);
    color: white;
    padding: 10px;
    border: none;
    width: 250px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -webkit-appearance: button;
    -moz-appearance: button;
    outline: none; 
    background-image: linear-gradient(to right, rgba(0,0,0,0.0), rgba(0,0,0,0.25));
    background-size: 80% 100%;
    background-position: top right;
    background-repeat: no-repeat;

  &:hover {
      background-image: linear-gradient(to right, rgba(0,0,0,0.0), rgba(0,0,0,0.32));
  }
}

.tri  {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  position:absolute;
  bottom: 73px;
  left:75px;
}
