.footer {
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
  margin-top: 250px;
	background: $primary-color-dark;

	&-company-details {
		display: flex;
		flex-direction: column;
    color: $secondary-color-light;
	}

	&-legal {
		display: flex;
		flex-direction: column;
		align-items: flex-end; 
    text-decoration: none;
    color: $secondary-color-light;
    a {
        text-decoration: none;
        color: $secondary-color-light;
        &:hover{
          text-decoration: none;
          color: white;
          }
      }
	}

  &-links {
    display: flex;
    align-items: center;
    margin-top: -20px;
    a {
      color: white;
      opacity: 0.6;
      text-decoration: none;
      font-size: 24px;
      padding: 0px 20px;
        &:hover {
          opacity: 1;
        }
    }
  }
}

.footer-line {
  width: 280px;
  height: 2px;
  background-color: white;
}
.f-line-cont {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
