.green-header{
  width: 100%;
  height: 100px;
  background-color: $primary-color-light;
  position: relative;
  margin-bottom: 100px;
  h2{
    position: absolute;
    bottom: -35px;
    left: 10%;
    font-family: 'palatino';
    color: $secondary-color-light;
  }
}
